$primary: #fee600;
$black: #111111;
$dark: #333333;
$white: white;
$blue: #3483fa;
$d-gray: #666666;
$gray: #999999;
$l-gray: #eeeeee;

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-46 {
  font-size: 46px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mt-64 {
  margin-top: 32px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}
.pr-32 {
  padding-right: 32px;
}
.pl-32 {
  padding-left: 32px;
}

